<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!--<add name="IMS" connectionString="Data Source=DESKTOP-QKVH12I; Initial Catalog=InstituteMS;User Id = sa; Password = Apple@1234;Pooling=True;Connect Timeout= 1024;Max Pool Size=200"/>-->
  </connectionStrings>
  <appSettings>

    <!--Original Server details-->
    <!--<add key="ServerName" value="jHYrVrLhZhgSrjQpMBUEww=="/>
    <add key="DBName" value="1JYxoGQtUabcnh4cRpI1BQ=="/>
    <add key="username" value="gGt1f+drGWOQ4owTmcvH/g=="/>
    <add key="pwd" value="gj7GpGDhPi/D0Vsi2Rb0Fg=="/>-->
    
    <!--Office server details-->
    <!--<add key="ServerName" value="CnAoKUM8zN4k/KGV/SiGAg=="/>
    <add key="DBName" value="COZtDGCEHF+V6FwicFFQ6A=="/>
    <add key="username" value="IR/pVcpWkmtOOk9seXD/Kw=="/>
    <add key="pwd" value="hVb0UIPv2JaNpD+K94b+MA=="/>-->

    <!--Home server details--><!--
    <add key="ServerName" value="p/AGfYFqcZ/uHD2jo1FQTA=="/>
    <add key="DBName" value="COZtDGCEHF+V6FwicFFQ6A=="/>
    <add key="username" value="IR/pVcpWkmtOOk9seXD/Kw=="/>
    <add key="pwd" value="hVb0UIPv2JaNpD+K94b+MA=="/>-->

    <!--Client server details-->
    <add key="ServerName" value="SVcD6HNCahJXjs3QYZj0CA=="/>
    <add key="DBName" value="COZtDGCEHF+V6FwicFFQ6A=="/>
    <add key="username" value="IR/pVcpWkmtOOk9seXD/Kw=="/>
    <add key="pwd" value="hVb0UIPv2JaNpD+K94b+MA=="/>
    
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
