<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="CMS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="IMS" connectionString="Data Source=DESKTOP-94G76H0; Initial Catalog=CMS;User Id = sa; Password = Apple@1234;Pooling=True;Connect Timeout= 1024;Max Pool Size=200" />
    <add name="localhost_gyanasof_test_Connection" connectionString="XpoProvider=MSSqlServer;data source=223.25.232.2;user id=gyanasof_testuser;password=Admin1234$;initial catalog=gyanasof_test;Persist Security Info=true" />
  </connectionStrings>
  <appSettings>
    <!--local server details-->

    <!--<add key="ServerName" value="CnAoKUM8zN4k/KGV/SiGAg=="/>
    <add key="DBName" value="58vfln5h5Nz8484yCh2/0g=="/>
    <add key="username" value="IR/pVcpWkmtOOk9seXD/Kw=="/>
    <add key="pwd" value="hVb0UIPv2JaNpD+K94b+MA=="/>-->
    <!--Cloud Secrver Details-->
    <add key="ServerName" value="jHYrVrLhZhgSrjQpMBUEww=="/>
    <add key="DBName" value="75a/mHd8iw+cF9O7Mc7KaA=="/>
    <add key="username" value="xavNaDvVIUm8kcILGdWrbDIwebIYH5tFuP7NYIYbByw="/>
    <add key="pwd" value="93F2pvb6WWiMmk+f2GY4lg=="/>
    <!--client server details-->
    <!--<add key="ServerName" value="rfX9r7gyhcYrY0tsBp9fQw==" />
    <add key="DBName" value="6JITUcRrv2WkkCpao/HMrw==" />
    <add key="username" value="IR/pVcpWkmtOOk9seXD/Kw==" />
    <add key="pwd" value="hVb0UIPv2JaNpD+K94b+MA==" />-->
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <applicationSettings>
    <CMS.Properties.Settings>
      <setting name="ApplicationSkinName" serializeAs="String">
        <value />
      </setting>
    </CMS.Properties.Settings>
  </applicationSettings>
</configuration>