<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="localhost_IMS_Connection" connectionString="XpoProvider=MSSqlServer;data source=NAREN-PC\SQLDEV;user id=sa;password=Apple@1234;initial catalog=IMS;Persist Security Info=true"/>
  </connectionStrings>
  <appSettings>

    <!--local server details-->
    <!--<add key="ServerName" value="KdAtoxIDHAC1Y7dXB0HGDQ=="/>
    <add key="DBName" value="MLoi7FN6bRGo7J+a/ETNxg=="/>
    <add key="username" value="IR/pVcpWkmtOOk9seXD/Kw=="/>
    <add key="pwd" value="hVb0UIPv2JaNpD+K94b+MA=="/>-->

    <!--Client Secrver Detauls-->
    <add key="ServerName" value="jHYrVrLhZhgSrjQpMBUEww=="/>
    <add key="DBName" value="1JYxoGQtUabcnh4cRpI1BQ=="/>
    <add key="username" value="gGt1f+drGWOQ4owTmcvH/g=="/>
    <add key="pwd" value="gj7GpGDhPi/D0Vsi2Rb0Fg=="/>
    
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
