<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net" />
  </configSections>  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <!--local server details-->
    <!--<add key="ServerName" value="wKFtgjoGvIDKBXSJwcs5bA==" />
    <add key="DBName" value="Lyu941Qj2GlmRSGbT8ACTw==" />
    <add key="username" value="IR/pVcpWkmtOOk9seXD/Kw==" />
    <add key="pwd" value="hVb0UIPv2JaNpD+K94b+MA==" />-->
    <!--Cloud Secrver Details-->
    <!--<add key="ServerName" value="jHYrVrLhZhgSrjQpMBUEww=="/>
    <add key="DBName" value="75a/mHd8iw+cF9O7Mc7KaA=="/>
    <add key="username" value="xavNaDvVIUm8kcILGdWrbDIwebIYH5tFuP7NYIYbByw="/>
    <add key="pwd" value="gj7GpGDhPi/D0Vsi2Rb0Fg=="/>-->
    <!--client server details-->
    <add key="ServerName" value="bA19uqlzOkIVaZo22tE/Qw==" />
    <add key="DBName" value="auodGRIY3hm/L8tjFJg1dA==" />
    <add key="username" value="auodGRIY3hm/L8tjFJg1dA==" />
    <add key="pwd" value="l61A47lQCN9uq/7OArYnOw==" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <log4net>
    <appender name="LogAppender" type="log4net.Appender.RollingFileAppender">
      <file value="${APPDATA}\AMSService.log" />
      <encoding value="utf-8" />
      <appendToFile value="true" />
      <!--<rollingStyle value="Date" />-->
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %level [%thread] %logger - %message%newline %stacktrace%n" />
      </layout>
    </appender>
    <root>
      <level value="All" />
      <!-- If the following line is not included the log file will not be created even if log4net is configured with this file. -->
      <appender-ref ref="LogAppender" />
    </root>
  </log4net>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>