<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="IMS" connectionString="Data Source=ATS11566\SQLDEV; Initial Catalog=PMS;User Id = sa; Password = Apple@1234;Pooling=True;Connect Timeout= 1024;Max Pool Size=200"/>
  </connectionStrings>
  <appSettings>

    <!--local server details-->
    <add key="ServerName" value="KdAtoxIDHAC1Y7dXB0HGDQ=="/>
    <add key="DBName" value="6JITUcRrv2WkkCpao/HMrw=="/>
    <add key="username" value="IR/pVcpWkmtOOk9seXD/Kw=="/>
    <add key="pwd" value="hVb0UIPv2JaNpD+K94b+MA=="/>

    <!--Cloud Secrver Details-->
    <!--<add key="ServerName" value="jHYrVrLhZhgSrjQpMBUEww=="/>
    <add key="DBName" value="75a/mHd8iw+cF9O7Mc7KaA=="/>
    <add key="username" value="xavNaDvVIUm8kcILGdWrbDIwebIYH5tFuP7NYIYbByw="/>
    <add key="pwd" value="gj7GpGDhPi/D0Vsi2Rb0Fg=="/>-->

    <!--client server details-->
    <!--<add key="ServerName" value="I89fuIQqn4Qi3+0jbWBf9Q=="/>
    <add key="DBName" value="6JITUcRrv2WkkCpao/HMrw=="/>
    <add key="username" value="IR/pVcpWkmtOOk9seXD/Kw=="/>
    <add key="pwd" value="hVb0UIPv2JaNpD+K94b+MA=="/>-->
    
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
