<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="localhost_gyanasof_db_Connection" connectionString="XpoProvider=MSSqlServer;data source=223.25.232.2;user id=gyanasof_user;password=Admin1234$;initial catalog=gyanasof_db;Persist Security Info=true" />
        <add name="plesk1\mssqlserver2016.gyanasof_db.gyanasof_user"
            connectionString="XpoProvider=MSSqlServer;data source=223.25.232.2;user id=;password=;initial catalog=gyanasof_db;Persist Security Info=true" />
        <add name="localhost_gyanasof_db_Connection 1" connectionString="XpoProvider=MSSqlServer;data source=223.25.232.2;user id=gyanasof_user;password=Admin1234$;initial catalog=gyanasof_db;Persist Security Info=true" />
    </connectionStrings>
</configuration>